section.brand 
    .brand-item 
        img(srcset="./image/brand-google.svg", alt="")
    .brand-item 
        img(srcset="./image/brand-google.svg", alt="")
    .brand-item 
        img(srcset="./image/brand-google.svg", alt="")
    .brand-item 
        img(srcset="./image/brand-google.svg", alt="")
    .brand-item 
        img(srcset="./image/brand-google.svg", alt="")